<h1>Create quiz</h1>
 <form action="/home/signupsubmit" method="GET">
Quiz name:<br>
<input type="text" name="quiz_name">
<br>
Quiz type:<br>
<input type="text" name="quiz_type">
</br>

<button type="submit">Submit</button>
</form> 