<h1>SignUp</h1>
 <form action="/home/signupsubmit" method="GET">
First name:<br>
<input type="text" name="firstname">
<br>
Last name:<br>
<input type="text" name="lastname">
</br>
Username:<br>
<input type="text" name="username"></input>
</br>
Email:</br>
<input type="email" name="email">
</br>
Password:</br>
<input type="password" name="password">
<br/>
Date of Birth:</br>
<input type="date" name="date_ob">
</br>
<button type="submit">Submit</button>
</form> 